@reference "../globals.css";

.container {
  @apply m-[20px] p-[20px];
}

.chatBox {
  @apply flex justify-center text-white max-h-[40vh] h-fit;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  @apply w-10 
    h-10 
    rounded-full 
    border-4 
    border-gray-300 
    border-t-slate-700;
  animation: spinner 1s linear infinite;
}
